<h1>Películas Quinquis</h1>
<nav class="menu">
  <ul class="primary-menu">
    <li class="primary-menu__item">
      <a class="primary-menu__link" routerLink="./listado">Listado</a>
    </li>
    <li class="primary-menu__item">
      <a class="primary-menu__link" routerLink="./agregar">Agregar</a>
    </li>
    <li class="primary-menu__item">
      <a class="primary-menu__link" routerLink="./buscar">Buscar</a>
    </li>
    <li class="primary-menu__item">
      <a class="primary-menu__link" routerLink="./:id">Película</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>