<h1>Nueva Película {{film.title}}</h1>
<p><strong>  añadir</strong></p>
<form action="">
  <div>
    <label for="title">Título</label>
    <input type="text" required [(ngModel)]="film.title" name="title">
  </div>
  <div>
    <label for="year">Año</label>
    <input type="text" required [(ngModel)]="film.year" name="year">
  </div>

  <div>
    <label for="director">Director</label>
    <select name="director" id="director" required [(ngModel)]="film.director">
      <option *ngFor="let director of directors" value="">{{director.nameDirector}}</option>
    </select>
  </div>
  <div>
    <label for="star">Protagonista</label>
    <input type="text" required [(ngModel)]="film.star" name="star">
  </div>
  <div>
    <label for="synopsis">Sinópsis</label>
    <input type="text" required [(ngModel)]="film.synopsis" name="synopsis">
  </div>
  <div>
    <label for="image">Imágen</label>
    <input type="url" required [(ngModel)]="film.alt_img" name="img">
  </div>
  <button (click)="save()">
    Guardar
  </button>
  <button *ngIf="film.id" (click)="remove()">
    Borrar
  </button>
</form>
<div>
  <img src='{{ film.alt_img }}' alt="">
</div>
